{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'blog/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/bootstrap_solar.css' %}">
        <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
    </head>
    <body>
        <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>+ Add new</a>
        {% endif %}
            <h1><a href="/">Django blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>